@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100vh; /* Set the height to 100% of the viewport height */
  margin: 0; /* Remove default margin to ensure full coverage */
  display: flex; /* Enable flex layout for full height */
  flex-direction: column; 
}

@keyframes carotBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

div a span{
  animation: carotBlink 1s step-end infinite;
  border-bottom: 2px solid white;
}
div a{
  transition: 0.4s;
}
div a:hover{
background-color: rgb(16, 16, 185);
}


.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
}
.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
    